html, body{
    height:100%;
    width:100%;
    position:relative;
}
ul{
    list-style:none;
}
html, body, li{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    color:inherit;
}
:before, :after{
    display:inline-block;
    content:'';
    position:absolute;
}
